.Modals {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    .modal-content {
      width: 30%;
      height: 15%;
      color: black;
      background-color: white;
      border-radius: 10px;
      .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 30%;
        h3 {
          margin-left: 5%;
          font-weight: 600;
        }
        button {
          margin-right: 1%;
        }
      }
      .modal-body {
        width: 100%;
        height: 40%;
        p {
          width: 85%;
          height: 100%;
          margin: 0 auto;
          text-align: left;
        }
      }
      .modal-footer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 30%;
        button {
          width: 10%;
          height: 80%;
          margin-right: 5%;
          background-color: dodgerblue;
        }
      }
    }
  }
}
